<div class="container">
  <div class="row mb-4">
    <div class="col-md-8">
      <div class="row">
        <div class="col-md-6 mb-4">
          <eca-sessie></eca-sessie>
        </div>
        <div class="col-md-6 mb-4">
          <eca-iostats></eca-iostats>
        </div>
      </div>
      <div class="row mb-4">
        <div class="col-md-4">
          <eca-slot></eca-slot>
        </div>
        <div class="col-md-4">
          <eca-laser></eca-laser>
        </div>
        <div class="col-md-4">
          <eca-drukknop></eca-drukknop>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <eca-logs></eca-logs>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="row">
        <div class="col-md-12 mb-4">
          <eca-tijd></eca-tijd>
        </div>
      </div>
      <div class="row mb-4">
        <div class="col-md-12">
          <eca-bericht></eca-bericht>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6">
          <eca-licht></eca-licht>
        </div>
        <div class="col-md-6">
          <eca-rook></eca-rook>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <!--<div class="col-md-12">-->
      <!--<eca-logs></eca-logs>-->
    <!--</div>-->
  </div>
</div>
